<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bitcamp.assignment.repository.BusinessCardRepository">

  <resultMap type="businesscard" id="businesscardMap">
    <id column="BCNO" property="no"/>
    <result column="MNO" property="memberNo"/>
    <result column="NAME" property="name"/>
    <result column="MTEL" property="mobileTel"/>
    <result column="TEL" property="tel"/>
    <result column="FAX" property="fax"/>
    <result column="EMAIL" property="email"/>
    <result column="MEMO" property="memo"/>
  </resultMap>

  <select id="findByMemberNo" 
          parameterType="int"
          resultMap="businesscardMap">
    select 
        BCNO,
        MNO,
        NAME
    from P2_BIZCARD
    where MNO=#{value}
    order by NAME asc
  </select>
  
  <select id="findByCardNoAndMemberNo" 
          parameterType="map"
          resultMap="businesscardMap">
    select 
        BCNO,
        MNO,
        NAME,
        MTEL,
        TEL,
        FAX,
        EMAIL,
        MEMO
    from P2_BIZCARD
    where BCNO=#{cardNo} and MNO=#{memberNo}
  </select>
  
  <insert id="insert" parameterType="businesscard">
    insert into P2_BIZCARD(
        MNO,NAME,MTEL,TEL,FAX,EMAIL,MEMO)
    values(
        #{memberNo},
        #{name},
        #{mobileTel},
        #{tel},
        #{fax},
        #{email},
        #{memo})
  </insert>
  
  <update id="update" parameterType="businesscard">
    update P2_BIZCARD set
        NAME = #{name},
        MTEL = #{mobileTel},
        TEL = #{tel},
        FAX = #{fax},
        EMAIL = #{email},
        MEMO = #{memo}
    where 
        BCNO = #{no} and MNO = #{memberNo}
  </update>
  
  <delete id="delete" parameterType="map">
    delete from P2_BIZCARD
    where BCNO=#{cardNo} and MNO=#{memberNo}
  </delete>
</mapper>











