@charset "UTF-8";

body {
    font-size: small;
}

div {
    /* border: 1px solid red;
    padding: 5px; */
    box-sizing: border-box;
}

div.container {
    width: 700px;
}

.container > header {
    border-bottom: 1px solid gray;
    height: 60px;
    padding: 10px;
}

.container > header #app-name {
    font-size: 30px;
    font-weight: bold;
    float: left;
}

.container > header a {
    float: right;
}


.container > footer {
    font-size: 80%;
    border-top: 1px solid gray;
    padding: 10px;
    overflow: hidden;
}

.container > footer a {
    float: left;
}

.container > footer #copyright {
    float: right;
}

